body
{
    background-image: url("font6.jpg");
	background-attachment: ;
	background-repeat:repeat;
	background-position: top ;
	background-color: green;
	background-size:2000px;

 }
 
 h3
 {
    font-weight: bold ;
 }
 
 h1
 {
    color: blue; 
	font-weight: bold ; 
	background-position:center;
  }
  h1
  {
  text-align: center;
  }
  h4
  { 
      text-align: justify; 
	  border: 3px blue solid;
	  font-family:times new roman;
	  font-size: 20px;
	  border-radius:90px;
	  margin-right: 1px;
	  margin-left:1px;
  }
  
  h2
  {
      border    : 3px blue solid;
      border-radius: 20px;
	  margin-right: 100px;
	  margin-left:100px;
	  background-position:center;
	  
  }
  
  
  button
  {
	 cursor:pointer;
	 border:none;
	 border-radius:3px;
	 font-size: 20px;
	 color: blue;
	 font-family:monospace;
  }
 
  .ab
  {
    color:red 
  }